# fly.toml app configuration file generated for miracle74-api-docs on 2025-12-18T20:19:23-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'miracle74-api-docs'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile.docs'

[env]
  DOCS_PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
